.container_basket {
  background-color:#94aba9;
  width: 100%;
}

.products_basket {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 1440px;
  margin-left: 5%;

}

.products__card_basket {

}



.button_btn {
  width: 200px;
  height: 30px;
  margin-top: 80px;
  margin-left: 5%;
}
.header_basket {
  margin: 0 auto;
  display: flex;
  margin-left: 15%;
}

.title_bakset {
  color:black ;
  text-transform: uppercase;
  font-weight: 700;
  font-size:22px;
  line-height: 38px;
  margin-bottom: 81px;
  padding-top: 54px;
  margin-left: 5%;
}

.footer_basket {
  display: flex;
  padding: 28px 0 35px 290px;
  color:black;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}

.basketButton {
  background-color: #D58C51;
  padding: 13px 40px;
  margin-right: 400px;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  .header_basket {
    flex-direction: column;
    gap: 2vw;
    margin: 0 auto;
    width: 100vw;
  }

  .button_btn {
    width: 60vw;
  }

  .title_bakset {
    margin: 0 auto;
    width: 30vw;
  }

  .products_basket {
    margin: 0 auto;
  }

  .products__card_basket {
    margin: 0 auto;
  }

  .footer_basket {
    flex-direction: column;
    padding: 0;
    justify-content: center;

  }

  .basketButton {
    margin: 0 auto;
    width: 40vw;
    height: 20vw;

  }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .header_basket {
    flex-direction: column;
    gap: 2vw;
    //margin: 0 auto;
    width: 100vw;
  }

  .title_bakset {
    width: 30vw;
  }

  .footer_basket {
    flex-direction: column;
    padding: 0;
    justify-content: center;

  }

  .basketButton {
    margin: 0 auto;
    width: 30vw;
    height: 10vw;
    margin-bottom: 10px;
    font-size:2vw;

  }
}