.product-list {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.product-list__h1 {
  display: block;
  width: 100%;
}

.product-list__wrapper {
  display: flex;
  justify-content: space-around;

}

.product-list__btn {
  background:  #94aba9;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.product-list__search {
  width: 500px;
  height: 30px;
  font-size: 28px;
  margin-bottom: 20px;
  background:   #94aba9;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.product-list__select {
  width: 500px;
  height: 80px;
  font-size: 24px;
  margin-bottom: 20px;
  background:  #94aba9;
  padding: 18px 25px;
  border-radius: 20px;
  font-weight: 500;
  border: 0;
  outline: none;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.product-list__list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30%;
  text-align: center;
  padding-left: 4%;
  margin-top: 5vw;
}


.product-list-list-wrapper__p {
  display: block;
  width: 100%;
  font-size: 22px;
  margin-top: 10vw;
  padding: 0;
}

@media screen and (min-width: 375px) and (max-width: 479px)  {
  .product-list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 0 auto;
  }

  .product-list__btn {
    width: 50vw;
    height: 20vw;
    font-size: 16px;
  }

  .product-list__search {
    width: 50vw;
    height: 10vw;
    font-size: 16px;
  }

  .product-list__select {
    width: 50vw;
    height: 20vw;
    font-size: 16px;
  }

  .product-list__list-wrapper {
    padding-left: 15%;
  }

  .product-list-list-wrapper__p {
    padding-left: 2vw;
    font-size: 14px;
    width: 50vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .product-list__wrapper {
    justify-content: start;
    flex-wrap: wrap;
    gap: 1vw;
    padding-left: 1vw;
  }

  .product-list__btn {
    width: 35vw;
    font-size: 18px;
  }

  .product-list__search {
    width: 30vw;
    font-size: 18px;
  }

  .product-list__select {
    width: 30vw;
    font-size: 18px;
  }

  .product-list-list-wrapper__p {
    padding-left: 2vw;
    font-size: 18px;
    width: 50vw;
  }
}


@media screen and (min-width: 720px) {
  .product-list__wrapper {
    flex-wrap: wrap;
    gap: 1vw;
    padding-left: 1vw;
  }
}

