.card_basket {
  display: flex;
  height: 290px;
  margin-right: 20px;
  margin-bottom: 35px;
  color: #ffffff;

   gap: 5px;
  align-items: center;

}

.card_basket:hover {
  color: #d58c51;
}
/*.card_basket_wrapper1{*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*}*/
/*.card_basket_wrapper2{*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*}*/
/*.card_basket_wrapper3{*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*}*/
/*.card_basket_wrapper4{*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*}*/
.card__preview_basket {
  width: 270px;
  height: 271px;
  padding-top: 43px;
  margin-left: 21px;
}

.card__title_basket {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  padding-left: 53px;
  padding-right: 21px;
  margin-top: 31px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 9px;
}

.card__price_basket {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /*display: flex;*/
  color: #d58c51;
  /* position: absolute;
  right: 326px; */
}

.card__button_basket {
  width: 30px;
  height: 30px;
  border: 2px solid #d58c51;
  border-radius: 50%;
  /* margin-left: 117px; */
  color: #d58c51;
  /* transform: rotate(45deg); */
  /* position: absolute;
  right: 153px; */
}
.card__button_basket_b {
  width: 70px;
  height: 40px;
  border: 2px solid #d58c51;
  border-radius: 30%;
  gap: 5px;
   margin-left: 5%;
  color: #d58c51;
  /* transform: rotate(45deg); */
  /* position: absolute;
  right: 153px; */
}

.card__button_basket:hover {
  background-color: #ffffff;
  border: none;
}

.order__items {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  padding-bottom: 36px;
  padding-left: 21px;
  align-items: center;
}

.item_value {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* color: #FFFFFF; */
}

.item_weigth {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* color: #FFFFFF; */
}