.fetch-products__wrapper {
  margin-bottom: 12px;
  //visibility: hidden;
  //display: none;

}




.fetch-products__button {
  width: 300px;
  height: 50px;
}

.fetch-products__button2{
  width: 300px;
  height: 50px;
  visibility: hidden;
}
